body{
    background-color: white;
    
    

}
h1{
    margin: 0px;
}
p{
    font-family: 'Roboto', sans-serif;
    color: white;
}
input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    font-family:'Roboto', sans-serif;
    margin: 5px; 
}
input::placeholder{
    color:rgb(40, 75, 99);
    opacity: 1;
    font-weight: 550;
}
button{

    width: 30px;
    height: 30px;
}
input[type=submit]{
    font-family: 'Roboto', sans-serif;
}
#box{
    background-color: rgb(60, 110, 113);
    border-radius: 30px;
}
#punpun { 
position: absolute;
animation-direction:alternate ;
animation: linear infinite;
animation-name: run, change;
animation-duration: 15s, 15s;


}

@keyframes run {
    0% {
        right: 0;

    }

    50% {
        right: 100%;
    }

    100% {
        right: 0;

    }
}
@keyframes change {
    
                 100%{
                    -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                        
                 }
    
}
